nav{
    display:flex;
    justify-content:space-around;
    align-items:center;
    position:fixed;
    right:0;
    left:0;
    background:hsl(30%,54%,90%);
    box-shadow: 0 0 10px rgba(0,0,0,5);
    z-index: 1000;

}